#page {
  margin-top: 80px;
}
.toolbar-row {
  width: 100%;
}
.notochord-toolbar {
  padding: 8px;
  border-radius: 5px;
  margin-top: 10px;
}

.notochord-toolbar > *:not(:first-child) {
  margin-left: 8px;
}